#main{
    background-color: var(--fundo-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#main h1{
    color: var(--laranja-destaque);
    font-size: var(--tamanho-titulo);
    font-weight: 500;
    margin-top: -125px;
    margin-bottom: 100px;
}

.div_agrupar{
    display: flex;
    flex-direction: column;
}

.div_agrupar span{
    font-size: var(--fonte-texto);
    font-weight: 500;
}

.div_agrupar input{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    width: 650px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 100px;
}

#botoes{
    display: flex;
    justify-content: space-evenly;
}

#btn_salvar, #btn_cancelar{
    width: 300px;
    height: 40px;
    font-size: var(--tamanho-texto-btn);
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

#btn_salvar{
    background-color: var(--laranja-destaque);
    color: var(--vinho);
}

#btn_cancelar{
    background-color: transparent;
    color: var(--vinho);
    border: 2px solid var(--laranja-destaque);
}