#titulo_card {
    background-color: var(--vinho);
    color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img_produto {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}